#accordeon {
	width: 500px;
	border: 10px solid #ffc;
	box-shadow: 0 0 10px grey;
	margin: 10px;
	height: 220px;
	alignment: center;
}

.acc-head {
	padding: 5px 10px;
	background: #c0c0c0;
	cursor: pointer;
}

.acc-body {
	padding: 10px;
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 5px;
	display: none;
}
body {
	font-size: 20px;
	font-family: "Times New Roman";
	background-image: url("fon.jpg");
	color: #85132a;
}